* {
  margin: 5px;
  font-family: "Bodoni Moda", serif;
}

.logo {
  width: 300px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

li {
  display: inline-block;
  margin-top: 15px;
  font-size: 22px;
  color: white;
}

nav {
  background-color: #409c60;
  opacity: 0.6;
  height: 60px;
  text-align: center;
}
